/* You can add global styles to this file, and also import other style files */

agm-map {
    height: 500px;
}

#cabecera {
    background-color: #BC252C !important;
}

.cursor {
    cursor: pointer;
}

.colores {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#recepcion {
    border: 1px #f48f4d solid;
    background: #f48f4d;
}

#isla {
    border: 1px #ff2017 solid;
    background: #ff2017;
}

#listos {
    border: 1px #fefa50 solid;
    background: #fefa50;
}

#pre {
    border: 1px #00bfef solid;
    background: #00bfef;
}

#det {
    border: 1px #884aaa solid;
    background: #884aaa;
}

#imagen {
    border: 1px #00b96c solid;
    background: #00b96c;
}